.Un{

}
p.Deux{
margin-left: :500px;
margin-bottom: :10%;
color:blue;
margin: :auto;
}
.Trois{

}
.Quatre{
margin-left: :50%;
margin-bottom: :10%;

color:blue;

}
.Cinq{

}
.Six{
margin-left: :50%;
margin-bottom: :10%;

color:blue;

}
.Sept{

}
.Huit{
margin-left: :50%;
margin-bottom: :10%;

color:blue;

}
.Neuf{

}
.Dix{
margin-left: :50%;
margin-bottom: :10%;

color:blue;

}